<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.raul.pedraza.yepchewaka" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera2" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".YetApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivityTab"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login_activitie"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.SingUpActivity"
            android:label="@string/title_activity_sing_up"
            android:parentActivityName=".activities.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.EditFriendsActivity"
            android:label="@string/title_activity_edit_friends"
            android:parentActivityName=".activities.MainActivityTab"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivityTab" />
        </activity>
        <activity
            android:name=".activities.RecipientsActivity"
            android:label="@string/title_activity_recipients"
            android:parentActivityName=".activities.MainActivityTab"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivityTab" />
        </activity>
        <activity
            android:name=".activities.ViewPhoto"
            android:label="@string/title_activity_view_photo"
            android:parentActivityName=".activities.MainActivityTab"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
